body{
    margin: 0;
    padding: 0;
}
.imageContainer{
    display: flex ;
    flex-direction: column;
    align-items: center;
    
}
img{
    padding: 20px;

}
h1{
    text-align: center;
    color: coral;
}
